# Ignore folders
/logs/
/crash-reports/
/saves
/XaeroWorldMap/
/XaeroWorldWaypoints/
/XaeroWaypoints/
XaeroWaypoints_*/
/pfm/
/essential/
/local/
config/oculus.properties
config/oculus.properties
config/oculus.properties
config/oculus.properties
config/jei
/modernfix
/fancymenu_data
/hs_err*
/map_atlases
/server_files
/mods/BetterTags*
/config/bettertags*
/.mixin.out
/screenshots/
/immersive_paintings_cache/
/logs/
/music_sheets/
/profileImage/
/patchouli_books
/loot_tables
user-prefs.json
/data/
/resourcepacks/
/xaero/
/downloads/
/spark-modernfix/
/kiwipacks/
/cache/
/journeymap/data
/journeymap/icon
/journeymap/server
/journeymap/defaultconfig.json
/journeymap/journeymap.log
/defaultconfigs/
waypoints
.persistent
.vscode
win_event*



# files
ftbchunks-client.snbt
knownkeys.txt
realms_persistence.json
exposure_catalog_state.json
cherishedworlds-favorites.dat
command_history.txt
.curseclient
usernamecache.json
usercache.json
minecraftinstance.json
emi.json
patchouli_data.json
rhino.local.properties
config/libraryferret_1.properties
.probe
